html, body, #map { 
	margin: 0; height: 100%; background: #fff; 
}

.leaflet-marker-live {
	-webkit-animation: pulse 2s ease-out;
	animation: pulse 2s ease-out;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
@-webkit-keyframes pulse {
	from { stroke-width: 15; stroke-opacity: 1; }
	to { stroke-width: 50; stroke-opacity: 0; }
}
@keyframes pulse {
	from { stroke-width: 15; stroke-opacity: 1; }
	to { stroke-width: 50; stroke-opacity: 0; }
}		

.leaflet-marker-instagram { 
	border: 2px solid #fff; 
	box-shadow: 3px 3px 10px #888; 
}	

#map {
  position: absolute;
  left: 0;
  right: 0;
  height: 80%;
  background-color: #fff; 
}

#instagram {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%; 
  background: #000;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}

#instagram img {
  cursor: pointer;
  padding: 5px 5px 0 0;
  height: 100%;
  display: inline-block;
}