html, body, #splitter { 
	margin: 0; 
	height: 100%; 
	background: #fff; 
}	

#map {
	height: 70%;
}

#elevation {
	height: 30%;	
	/*width: auto;*/
	/*white-space: nowrap;*/
}

/*
#elevation img {
	height: 100%;
	border: 5px solid #000;
	cursor: pointer;
}
*/

.leaflet-marker-live {
	-webkit-animation: pulse 2s ease-out;
	animation: pulse 2s ease-out;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
@-webkit-keyframes pulse {
	from { stroke-width: 15; stroke-opacity: 1; }
	to { stroke-width: 50; stroke-opacity: 0; }
}
@keyframes pulse {
	from { stroke-width: 15; stroke-opacity: 1; }
	to { stroke-width: 50; stroke-opacity: 0; }
}	

.leaflet-label {
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.81);
	background-clip: padding-box;
	border-color: #777;
	border-color: rgba(0,0,0,0.25);
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	color: #111;
	display: block;
	font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: 1px 6px;
	position: absolute;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	pointer-events: none;
	white-space: nowrap;
	z-index: 6;
}




.splitter_panel {
  position: relative;
}
.splitter_panel .hsplitter {
    cursor: row-resize;
    z-index: 800;
    height: 7px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;   
    background: #eee url("up-arrow.png") no-repeat center center;
}
.splitter_panel .hsplitter:hover {
    background-color: #ddd;
}
.splitter_panel .vsplitter.splitter-invisible,
.splitter_panel .hsplitter.splitter-invisible {
    background: none;
}
.splitter_panel .hsplitter, .splitter_panel .top_panel, .splitter_panel .bottom_panel {
    position: absolute;
}
.splitter_panel .hsplitter, .splitter_panel .top_panel, .splitter_panel .bottom_panel {
  width: 100%;
}
.splitter_panel .top_panel {
   top: 0;
}
.splitter_panel .top_panel, .splitter_panel .bottom_panel, .splitter_panel .hsplitter {
   left: 0;
}
.splitter_panel .bottom_panel {
   bottom: 0;
}
.splitterMask {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

